{% extends 'base.html' %}


{% block content %}

{% block css %}

<style type="text/css">
	.in{
			width: 100%;
			text-align: center;
	}
	.post{
		width: 70%; 
		display: inline-block;
	}
	.title {
		text-align: left;
	}
	.img{
		float:left;
		text-align: left;
		width: 48%;
		margin-left: 2%;
	}
	.sound{
		float:left;
		text-align: left;
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
	
	}
	.content{
		text-align: left;
		width: 48%;
	
	}
	p {text-align: left;}
	.img img {
		height: 80%;
		width: 80%;
	}
	a{
		color: #000000;
	}
</style>

{% endblock%}

<div class="in"  style="width: 960px; margin-top: 10px; margin-left: auto; margin-right: auto;">
	<!--mainpage top start-->
	<br>
    <div class="post" style="text-align: left; margin-left: auto; margin-right: auto;">
		<div style="display: contents; width: 100px; height: 100px; margin-right: auto; margin-left: auto;">
    	<img src="/media/{{animal_map.imagefile}}" style="vertical-align: top; width:640px">&nbsp;&nbsp;
		</div>
			<div style="display: inline-block; width: 500px; margin-right: auto; margin-left: auto;">
				<h1 class='title' style="display: inline;">{{ animal_map.title }}</h1>
			<span class="control hidden" id = "control_id{{ forloop.counter0 }}">
			<a>종: __ 속: __ 과: __ 목: __ 강: __ 문: __ 계: __ </a>
								<br>
				<a style="text-align: left; font-size: 150%;">관리등급: <b>멸종위기종</b></a>
		</span>
    </div>
	</div>
	<!--수정과 삭제 부분 -->
			{% if user.username == animal_map.writer %}
		<br>
				<a href="{% url 'animal_remove' pk=animal_map.pk %}" style="text-decoration: underline; float: right;">삭제</a>
				<a href="{% url 'animal_edit' pk=animal_map.pk %}" style="text-decoration: underline; float: right;">수정</a>
			{% else %}

			{% endif %}

			<!--수정과 삭제 부분 -->
	<br>
	<br>
    <div style="height: 200px;">
    		<!--jplater start-->
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player" style="margin-left: auto; margin-right: auto;">
				<div class="jp-type-single">
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<button class="jp-play" role="button" tabindex="0">play</button>
							<button class="jp-stop" role="button" tabindex="0">stop</button>
						</div>
						<div class="jp-progress">
							<div class="jp-seek-bar">
								<div class="jp-play-bar"></div>
							</div>
						</div>
						<div class="jp-volume-controls">
							<button class="jp-mute" role="button" tabindex="0">mute</button>
							<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
						</div>
						<div class="jp-time-holder">
							<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
							<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
							<div class="jp-toggles">
								<button class="jp-repeat" role="button" tabindex="0">repeat</button>
							</div>
						</div>
					</div>
					<div class="jp-details">
						<div class="jp-title" aria-label="title">&nbsp;</div>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
			</div>
			<!--jplater end-->
    </div>
    	<div id="map" style="height: 500px; clear:both; margin-bottom: 30px;" > </div>
    	<!---->
    	</div>
    <!--새부 내용 start-->
<br>
<br>
    <div class='content' style="width: 960px; height: 400px; margin-right: auto; margin-left: auto;">
		<div class='content_2' style="width: 80%; margin-right: auto; margin-left: auto;">
			<h4 style="text-align: center;">세부 내용</h4>
			내부 정보
			<p>{{ total_info.content }}</p>
			LOD 정보
			<pre style="white-space: pre-wrap;">{{ animals }}</pre>
			<a href="{{url}}">더 자세한 정보</a>

		       <br>
		<p style="text-align: right; margin-bottom: 0px;">작성자: <span class="writer_name">{{animal_map.writer}}</span></p>
		<p style="text-align: right;">업로드 일자: <span class="observed_date">{{animal_map.observed_date}}</span></p>
		</div>
    </div>
    <!--새부 내용 end-->
    </div>
</div>

    <script type="text/javascript">
    //<jplater script
    $(document).ready(function(){
		$("#jquery_jplayer_1").jPlayer({
			ready: function (event) {
				$(this).jPlayer("setMedia", {
					title: "{{ animal_map.title }} 소리",
					mp3: "/media/{{ animal_map.soundfile }}",
				});
			},
			swfPath: "../../dist/jplayer",
			supplied: "m4a, oga,mp3",
			wmode: "window",
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true,
			remainingDuration: true,
			toggleDuration: true
		});
	});
  function errorImg(){
  $("img").error(function () {
    $(this).unbind("error").attr("src", "/media/No_image.png");
  });
  }
  errorImg();
    </script>


    <script>

      function initMap() {
        var myLatLng = {lat: {{animal_map.Latitude}}, lng: {{animal_map.Longitude}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '{{animal_map.title}} 발견 장소'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWV0tlx-1gtFEIJPEdpIFWdGGghKB34xk&libraries=places&callback=initMap"
         async defer></script>



{% endblock %}