<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load static %}
    <link rel="stylesheet" href="{% static "css/skin/blue.monday/css/jplayer.blue.monday.min.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap-slider.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">

  <meta charset="utf-8">
  <title>{% block title %}동물 소리(animal_sound){% endblock %}</title>
  <style>
    <span class="metadata-marker" style="display: none;" data-region_tag="css"></span>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .form-group{
        margin-bottom: 0rem;
    }
    label {
      margin-bottom: 0rem;
    }
  </style>
  <script type="text/javascript" src="{% static "js/jquery.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/jplayer/jquery.jplayer.min.js"%}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap-slider.js"%}"></script>
  <script>
  function login_click() {
    {% if user.is_authenticated %} 
      location.href="/animalsave";
    {% else %}
      alert("로그인후 이용바랍니다.");
      location.href="/accounts/login";
    {% endif %}
  }
  </script>
</head>

<body>
	<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 0px; padding-top: 2px;">
  <a class="navbar-brand" href="/"><img src="/media/logo_black.png" style="height: 75px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <!-- 메뉴 바 부분 start -->
    <ul class="navbar-nav m-auto" style="width: 50%; padding-left: 10%;">
      <li class="nav-item active" style="margin: 5%; margin-right: 0%; margin-left: 0%; width: 5%;">
        <a class="nav-link" href="/"><b style="font-size: 150%; color: #666666;">|</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" style="margin: 5%; width: 25%;">
        <a class="nav-link" href=javascript:void(0);" onclick="login_click();" style="text-align: center;"><b style="font-size: 150%;">업로드</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" style="margin: 5%; margin-right: 0%; margin-left: 0%; width: 5%;">
        <a class="nav-link" href="/"><b style="font-size: 150%; color: #666666;">|</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" style="margin: 5%; width: 25%;">
          <a class="nav-link" href="/" style="text-align: center;"><b style="font-size: 150%;">지도</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" style="margin: 5%; margin-right: 0%; margin-left: 0%; width: 5%;">
        <a class="nav-link" href="/"><b style="font-size: 150%;">|</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" style="margin: 5%; width: 25%;">
        <a class="nav-link" href="/animallist" style="text-align: center;"><b style="font-size: 150%;">목록</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" style="margin: 5%; margin-right: 0%; margin-left: 0%; width: 5%;">
        <a class="nav-link" href="/"><b style="font-size: 150%; color: #666666;">|</b> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- 메뉴 바 부분 end -->
    <!-- 아이디 명 start -->
    <form class="form-inline my-2 my-lg-0" style="margin-right: 15px;">
      {% if user.is_authenticated %}
        <p class="navbar-brand" style="margin-bottom: 0px;"><span class="writer_name">{{ user.username }} </span>님</p>
    <div class="btn-group" role="group" aria-label="Basic example">
    <!-- 아이디 명 end -->
    <!-- 로그인/로그아웃 start -->
    <button type="button" class="btn btn-secondary"><a href="{% url 'logout' %}">logout</a></button>
    </div>
      {% else %}
        <a href="{% url 'login' %}" style="margin-right: 15px;color: #000000; font-size: 112%;"><b>로그인</b></a>또는&nbsp;&nbsp;&nbsp;<a href="{% url 'signup' %}"style="margin-right: 15px;color: #000000;  font-size: 112%;"> <b>가입하기</b></a>
      {% endif %}
      <!-- 로그인/로그아웃 end -->
    </form>
  </div>
</nav>
    </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>