<!-- templates/home.html-->
<!--맨 위 커버 -->
{% extends 'base.html' %}

<!-- 페이지 이름 -->
{% block title %}동물 소리(animal_sound){% endblock %}

{% block content %}
  <!-- 상단 start -->
   <div style="width: 100%;">
    <div>
       <p id="title" class="d-flex justify-content-center"></p>
    </div>
   <div style="height: 100px; margin-top: 30px;" class="d-flex justify-content-center">
    <fieldset id="search_fieldset"> <input id="search_input" type="search", style="height: 50%; width: 450px; margin-left: 70px;" placeholder="animals, locations, etc..."/>
      <button id="search_button" type="submit"class="btn btn-primary" style="margin-left: 15px; height: 55%;"><i class="fa fa-search"></i><img src="/media/iconfinder_Search_984754.png" style="height: 35px;"></button>
      
    </fieldset>
   </div>
  </div>
  <!-- 상단 end -->
      <div class="collapse navbar-collapse" id="navbarColor01" style="width: 100%; display: block;">
            <ul class="navbar-nav m-auto" style="flex-direction: unset;">
      <li class="nav-item active" style="margin-left: 10px; width: 33%">
        <b style="font-size: 150%; color: #339933; text-align: left;">목 록</b>
      </li>
    </ul>
      </div>
    <div id="out" style="width: 100%;">
      <!--동물 정보 start-->
       <div id="pac-text" class="table" style="overflow-y:scroll; width:100%;height:400px;  display: inline-block; background-color: #ffffff">
            <tbody>

             {% for animal_map in animal_maps %}
             <hr >
          <div style="width: 100%;">

             <div class="text_img" style="width: 10%;height: 100px;display: inline-block;"><img src="/media/{{animal_map.imagefile}}" style="width: 100%; height: 100px;" ></div>
             <div style="width: 60%; height: 100px;display: inline-block;"><h5>이름: <a href="{% url 'animal_detail' pk=animal_map.pk %}" style="color:#000000; ">{{ animal_map.title }}</a></h5> 
              <p>

              발견장소:
                {%if animal_map.address == 'a' %}
                서울시
                {%elif animal_map.address == 'b'%} 
                경기도
                {%elif animal_map.address == 'c'%} 
                강원도
                {%elif animal_map.address == 'd'%}
                충청북도
                {%elif animal_map.address == 'e'%}
                충청남도
                {%elif animal_map.address == 'f'%}
                경상북도
                {%elif animal_map.address == 'g'%}
                경상남도
                {%elif animal_map.address == 'h'%}
                전라북도
                {%elif animal_map.address == 'i'%}
                전라남도
                {%elif animal_map.address == 'j'%}
                제주도
                {%elif animal_map.address == 'k'%}
                북한
                {%endif%}

             </p>
             <p> 발견시각:{{animal_map.observed_date}}</p>
              <p>구분:
              {%if animal_map.Class == 'm' %}
              포유류
              {%elif animal_map.Class == 'b'%}
              조류
              {%elif animal_map.Class == 'r'%}
              파충류
              {%elif animal_map.Class == 'a'%}
              양서류
              {%elif animal_map.Class == 'i'%}
              곤충
              {%endif%}






              </p>
          

          </div>
            
          </div>
            {% endfor%}

            </tbody>
       </div>
    <!--동물 정보 end-->
        </div>
<footer style="background: #ecf0f1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted" style="text-align: center;">Copyright &copy; Animal Sound Analysis 2019</p>
        </div>
      </div>
    </div>
  </footer>
<style type="text/css">
  p{
  margin-bottom: 0;
}
img{
  vertical-align: bottom;
}
        #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        height: 30px;
      }
</style>
<script>
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
var title =getParameterByName('search_key');
document.getElementById('title').innerHTML=title;
var map
var centerlat = getParameterByName('centerlat');
var centerlng = getParameterByName('centerlng');
var centerzoom = getParameterByName('zoom');
if (centerlng=='') {
   centerzoom=7;
   centerlat=36.46020;
   centerlng=128.2310;
}
//구글 맵 지도 관련 자바 스크립트 start
function initMap() {
  var Latitude = centerlat;
  var Longitude = centerlng;
       
  var myLatLng = {lat:parseFloat(centerlat), lng:parseFloat(centerlng)};
  //alert(Latitude+' '+Longitude)
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: parseInt(centerzoom),
    center: myLatLng
    //mapTypeId: 'roadmap'
  });
   {% for animal_map in animal_maps %}
   Latitude = {{ animal_map.Latitude }};
  Longitude = {{ animal_map.Longitude }};
  myLatLng = {lat: Latitude, lng: Longitude};
  
  var contentString = '<img src="/media/{{animal_map.imagefile}}" width="100" height="100"> <h3>{{ animal_map.title }}</h3> {{ animal_map.content }} '+
       '<a href="{% url 'animal_detail' pk=animal_map.pk %}" style="color:#339933; text-align: right; display: block;">더 보기..</a> <br><p>작성자: {{ animal_map.writer }}</p>';
   
  var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: '{{ animal_map.title }}'
      });
  attachSecretMessage(marker,contentString);

   {% endfor%}
  //지도내 검색기능 start
  var markers = [];
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });
  searchBox.addListener('places_changed', function() {
  var places = searchBox.getPlaces();
          if (places.length == 0) {
            return;
          }
          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
          var url;
          map_reload()
        });
  //지도내 검색기능 end
}

//구글 맵 지도 관련 자바 스크립트 end
//구글 맵 클릭시 내용이 보이는 부분 start
function attachSecretMessage(marker, secretMessage) {
  var infowindow = new google.maps.InfoWindow({
    content: secretMessage
  });
  marker.addListener('click', function() {
    infowindow.open(marker.get('map'), marker);
  });
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWV0tlx-1gtFEIJPEdpIFWdGGghKB34xk&libraries=places&callback=initMap"
         async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
<script>
// 맵 재검색 기능 start
function map_reload(){
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: map.getZoom(),
            center: map.getCenter()
          });
    var sw_lat;
      var sw_lng;
      var ne_lat;
      var ne_lng;
      
      google.maps.event.addListenerOnce(map, 'bounds_changed', function() {
         //화면에 나와있는 맵 왼쪽 아래
         sw_lat=map.getBounds().getSouthWest().lat();
         sw_lng=map.getBounds().getSouthWest().lng();
         //화면에 나와있는 맵 오른쪽 위
         ne_lat=map.getBounds().getNorthEast().lat();
         ne_lng=map.getBounds().getNorthEast().lng();
         var title=document.getElementById('title').innerHTML;
         if(title==null){
           title=document.getElementById('search_input').value;
         }
         url = '/?search_key='+title+'&centerlat='+map.getCenter().lat()+'&centerlng='+map.getCenter().lng()+'&zoom='+map.getZoom()+'&sw_lat='+sw_lat+'&sw_lng='+sw_lng+'&ne_lat='+ne_lat+'&ne_lng='+ne_lng;
         window.open(url,'_self')
        });
        
        //window.open(url,'_self')
}
$('#reload_button').click(function(){ 
  var url;
  map_reload()
})
// 맵 재검색 기능 end

// 검색 기능 start
$('#search_button').click(function(){ 
   var url = '/?search_key='+document.getElementById('search_input').value;
    window.open(url,'_self')
}) 
// 검색 기능 end

</script>
<script type="text/javascript">
  if({{animal_maps}} != null){
    alert("검색 결과가 없습니다.");
  }
  
</script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
//표1 나오는 스크립트
var x = [];
for (var i = 0; i < 100; i ++) {
    x[i] = Math.random();
}

var trace = {
    x: x,
    type: 'histogram',marker: {
    color: 'grey',
   },
  };
var data = [trace];
Plotly.newPlot('myDiv', data, {}, {showSendToCloud: true});
//표1 나오는 스크립트 end
</script>



<script type="text/javascript">
  //표2 나오는 스크립트
   var data = [{
     values: [19, 26, 55],
     labels: ['Residential', 'Non-Residential', 'Utility'],
     type: 'pie'
   }];
   
   Plotly.newPlot('tester2', data, {}, {showSendToCloud:true});
  //표2 나오는 스크립트 end
</script>
<script type="text/javascript">
  function errorImg(){
  $("img").error(function () {
    $(this).unbind("error").attr("src", "/media/No_image.png");
  });
  }
  errorImg();
</script>

{% endblock %}