<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block css %}

<style>
    .registration {
        width: 360px;
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
    label {
        width: 50%;
        text-align: left;
    }
    .control-label {
        width: 100%;
    }
    .registration .form-actions > button {
        width: 100%;
    }
    .panel .panel-default .registration{
    	width: 70%;
    }
    h2 {
    	text-align: center;
    }

</style>
{% endblock css %}


{% block content %}
<div style="width: 20%;margin: 0 auto;">
	<div class="panel-heading" style="text-align: center"> <h2>로그인</h2></div>
<div class="panel-body" >
	<form method="post">
  {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
                    {% for error in field.errors %}
                        <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                    {% endfor %}
                </div>
            {% endfor %}
  <button type="submit">로그인</button>
</form>
</div>

</div>
    {% endblock %}