<!-- templates/signup.html -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
   {% load static %}
<link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="{% static "/css/style.css"%}" rel="stylesheet" >


{% block css %}
<style>
    .registration {
        width: 360px;
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
    label {
        width: 50%;
        text-align: left;
    }
    .control-label {
        width: 100%;
    }
    .registration .form-actions > button {
        width: 100%;
    }
    .panel .panel-default .registration{
       width: 70%;
    }
</style>
{% endblock css %}

{% block content %}
<div class="panel panel-default registration" style="margin-top: 5%; auto;">
    <div class="header" style="padding-bottom: 20px;">
         <a class="navbar-brand" href="/"><img src="/media/main_login.png" style="height: 128px;"></a>
      </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="design-w3l" style="width: 100%; font-size: 125%;">
    <div class="mail-form-agile">
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group " style="text-align: right; padding: 10px;">
                <label for="id_user-username" id="id_user-username_field" class="field" style="color: #FFFFFF;">사용자 이름</label>
                <input name="user-username" id="id_user-username" class="form-control" type="text" value="" placeholder="...">
                
            </div>
        
            <div class="form-group " style="text-align: right; padding: 10px;">
                <label for="id_user-email" id="id_user-email_field" class="field" style="color: #FFFFFF;">Email</label>
                <input name="user-email" id="id_user-email" class="form-control" type="email" value="" placeholder="...">
                
            </div>
        
            <div class="form-group " style="text-align: right; padding: 10px;">
                <label for="id_user-password1" id="id_user-password1_field" class="field" style="color: #FFFFFF;">비밀번호</label>
                <input name="user-password1" id="id_user-password1" class="form-control" type="password" value="" placeholder="...">
                
            </div>
        
            <div class="form-group " style="text-align: right; padding: 10px;">
                <label for="id_user-password2" id="id_user-password2_field" class="field" style="color: #FFFFFF;">비밀번호 확인</label>
                <input name="user-password2" id="id_user-password2" class="form-control" type="password" value="" placeholder="...">
                
            </div>
        
            <div class="form-group " style="text-align: right; padding: 10px;">
                <label for="id_user-is_staff" id="id_user-is_staff_field" class="field" style="color: #FFFFFF;">스태프 권한</label>
                <input name="user-is_staff" id="id_user-is_staff" class="form-control" type="checkbox" value="False" placeholder="...">
                
            </div>           
            <!--장고 라이브러리를 통해 자동으로 폼이 나옴
            
            {% for field in form %}
                <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}" style="text-align: right; padding: 10px;">
                    <label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}_field" class="field" style="color: #FFFFFF;">{{ field.label }}</label>
                    <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}" placeholder="...">
                    {% for error in field.errors %}
                        <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                    {% endfor %}
                </div>
            {% endfor %}
            <!--장고 라리브러리 사용 끝-->
            <div class="form-actions" style="padding-top: 30px;">
                <input class="btn btn-primary btn-large" type="submit" value="가입하기" style="width: 100%;">
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}